body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
canvas {
  position: absolute;
}
#expression {
  font-size: 200px;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 20px;
}
.hidden {
  display: none;
}
.green {
  background-color: lightgreen;
}
.red {
  background-color: orangered;
}
